
body {
/*  background-color: #fffbf9;*/

  font-family: "Garamond", serif;
  
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  margin-bottom: 30%;
}

p {
  font-size: 15pt;
  line-height: 1.5;

  overflow-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
  margin-bottom: 30px;
}

h1 {
  font-family: "Menlo", monospace;
  font-size: 36pt;
}

h2 {
  font-family: "Menlo", monospace;
  font-size: 24pt;
}