body {
/*  background-color: #fff5ef;*/
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  font-family: "Garamond", serif;
  font-size: 16pt;
  line-height: 24px;
  word-wrap: break-word;


}