body {
/*  background-color: #fffbf9;*/

  font-family: "Garamond", serif;
  font-size: 15pt;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 10%;
  margin-bottom: 30%;
}

#space {
  color: rgba(0, 0, 0, 0);
}
#dropcap {

/*  background-image: url(/dropcaps/dropcap_a_red.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-center: center center;*/
  float: left;
  color: transparent;

  max-width: 8.5em;
  margin-right: 0.3em;

}

@media only screen and (max-width: 950px) {
  body {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 30%;
  }

  #dropcap {

    max-width: 6.5em;
    font-size: 12pt;

  }
}

