body {
  background-color: #fffbf9;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  margin-bottom: 30%;
  font-family: "Garamond", serif;
  font-size: 15pt;
  line-height: 1.5;
  overflow-wrap: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
  text-align: justify;
  text-justify: inter-word;

}
#space {
  color: rgba(0, 0, 0, 0);
}
#dropcap:first-letter {

  background-image: url(/dropcaps/dropcap_a_red.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-center: center center;
  float: left;
  color: transparent;

  padding: 190px 0 0 190px;
  margin-right: 9px;

}